* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ccc;
}

h1 {
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 1em;
  font-weight: 700;
  font-family: 'Segoe UI', sans-serif, sans-serif;
}

p {
  text-align: center;
  color: #212121;
  padding: 1em;
  font-size: 1.4em;
  font-weight: 700;
  font-family: 'Segoe UI', sans-serif, sans-serif;
}

section{
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type='text'] {
  margin: 10px 13%;
  outline: none;
  padding: 10px;
  border: 1px solid #ccc;
  font-size: 14px;
  text-align: center;
  border-radius: 6px;
  width: 50%;
}

#enter {
  font-weight: 600;
  border-radius: 5px;
  padding: 12px;
  text-align: center;
  background: #333;
  border: none;
  color: #fff;
}

#enter:hover {
  background-color: #212121;
  cursor: pointer;
}

#list {
  list-style-type: disc;
  margin: 20px 15%;
  padding: 1em;
  line-height: 30px;
  font-weight: 700;
  font-family: 'Segoe UI', sans-serif, sans-serif;
}